<div class="hero">
  <br/>
  <div class="frosty col-10 offset-1">
    <br/>
    <h1>Learn Magic from the Pros</h1>
    <br/>
    <h2>I'm an illusionist, Michael.</h2>
    <br/>
    <%= link_to 'Learn more', "#", class: 'btn btn-success' %>
    <br/>
  </div>
</div>
<br/>



<section class="latest-blog-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Latest Blog</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-blog-item">
          <%= image_tag "workout.jpg" %>
          <div class="blog-widget">
            <div class="bw-date">April 19, 2020</div>
              <a href="#" class="tag">#Work out</a>
          </div>
              <h4><a href="#">10 Best work out tips</a></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-blog-item">
          <%= image_tag "healthy-food.jpg" %>
          <div class="blog-widget">
            <div class="bw-date">April 19, 2020</div>
              <a href="#" class="tag">#Healthy diet</a>
          </div>
              <h4><a href="#">Eating for your blood type</a></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-blog-item">
          <%= image_tag "meditation.jpg" %>
          <div class="blog-widget">
            <div class="bw-date">April 19, 2020</div>
              <a href="#" class="tag">#Meditation</a>
          </div>
            <h4><a href="#">Meditation techniques you dont know about</a></h4>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing Courses</h3>
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>
  </div>

  <div class="col-12 col-sm">
     <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Enroll and access a courses archive of lessons.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <p>Learn with a community of like-minded individuals.</p>
  </div>
